:root {
    --primary-color: #0a0a0b;
   
    --secondary-color: #18181b;
    
    --input-padding: 1rem;
    --font-family: 'Poppins', sans-serif;
    --button-hover-color: #2c5282;
    --background-color: #edf2f7;
   
    --input-border-radius: 8px;
    --button-border-radius: 8px;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
}

.checkout-container {
    padding: 2rem;
    
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
   
}

.form-group label {
    font-weight: 600;
    
    margin-bottom: 1rem;
   
}